<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Your Route</title>
</head>
<body>

  <div class="backhome">
    <a href="home">Back To Home</a>
  </div>

  <main class="home_page">
    <div class="mainImage">
      <img src="../public/imgs/front.jpg" alt="">
    </div>

    <!-- logo -->
    <div class="aboutLogo">
        <img src="../public/imgs/logo.jpg" alt="logo">
    </div>

    <div class="page_content">
        <h1 class="Welcome_text">Our Website Aim To Guide You To Your Best Direction To Enjoy Your Journey </h1>
        <p class="Welcome_text">
          You Can Control Your Journey By Giving Us Some Details About Your Route And We Will Tell Your All Options That Can Tell You Your Best Route With Best Direction And Less Time.
        </p>
    </div>
  </main>
  <script src="../public/scripts/main.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9_ve_oT3ynCaAF8Ji4oBuDjOhWEHE92U&libraries=places&callback=initMap" async defer></script>

</body>
</html>