<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <meta charset="utf-8" />
    <title>Distances btn two cities App</title>
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../public/scripts/index.js"></script>
    <link href="public/css/style.css" rel="stylesheet" />
    <link href="../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css">
  
    <title>Your Route</title>
</head>
<body class="" style="background-image: url('../public/imgs/front.jpg'); background-size: 100%;">
  <main class="home_page">
    <div class="container">
      <!-- start header -->
      <div class="header_top">
        <!-- logo -->
        <div class="logo">
          <img src="../public/imgs/logo.jpeg" alt="Logo">
        </div>

      </div>

      <!-- start page content -->
      <section class="">
        <div>


          <div class="buttons">
            <label for="mapbtn" class = " btn btn-primary col-lg mx-1"  onclick="GotoMap()">Map</label>
            <input id="mapbtn" class="btn-check" >
            <label for="contactUSbtn" class = " btn btn-warning col-lg mx-1"onclick="contactUS()">Contact US</label>
            <input id="contactUSbtn" class="btn-check" >
            <label for="aboutUsbtn" class = " btn btn-danger col-lg mx-1" onclick="aboutUs()">About US</label>
            <input id="aboutUsbtn" class="btn-check" >
            <label for="Ratebtn" class = "btn btn-success col-lg mx-1" onclick="Rate()" >Rate US</label>
            <input id="Ratebtn" class="btn-check" >
          </div>
        </div>
      </section>
    </div>
  </main>
  <!-- <script src="../public/scripts/main.js"></script> -->
</body>
</html>