<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Your Route</title>
</head>
<body>
  <main class="home_page">
    <div class="mainImage">
      <img src="../public/imgs/front.jpg" alt="">
    </div>
    <div class="container">
      <!-- start header -->
      <div class="header_top">
        <!-- logo -->
        <div class="logo">
          <img src="../public/imgs/logo.jpeg" alt="Logo">
        </div>

      </div>

      <!-- start page content -->
      <section class="">
        <div>


          <div class="buttons">
            <button type="button" class="button2">
              <a href="map">Map</a>
            </button>
            <button type="button" class="button1">
              <a href="contactUS">Contact US</a>
            </button>
            <button type="button" class="button1 button3">
              <a href="aboutUs">About US</a>
            </button>

            <button type="button" class="button1 button4">
              <a href="Rate">Rate the app</a>
            </button>
          </div>
        </div>
      </section>
    </div>
  </main>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9_ve_oT3ynCaAF8Ji4oBuDjOhWEHE92U&libraries=places&callback=initMap" async defer></script>
  <script src="../public/scripts/main.js"></script>
</body>
</html>