<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    
        <script src="../node_modules/jquery/dist/jquery.min.js"></script>
        <link href="../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
        <script src="../node_modules/jquery/dist/jquery.min.js"></script>
        <script src="../public/scripts/rate.js"></script>
        <link href="../public/css/rate.css" rel="stylesheet" type="text/css">
        <script src="../node_modules/bootstrap/dist/js/bootstrap.js" type="text/javascri  pt"></script>
        <title>Rate us</title>
    </head>

    <body class="d-flex flex-column align-content-center justify-content-center bg-light" style="background-image: url('../public/imgs/front.jpg'); background-size: 100%;">
        
        <div class="row d-flex flex-row" id = "rateArea" >
            <section class="col-xl">
                <div class="container h-100 w-100">
                        <div class="col-12  ">
                            <div class="card bg-light text-dark" style="border-radius: 1rem;">
                                <div class="card-body text-center">
                                    
                                    <img src="../public/imgs/logo.jpeg" class="img-fluid" style="height: 200px;">
                                        
                                        <h4 class="fw-bold" >Your feedback is important to us</h4>

                                        <h5 class="fw-bold ">rate your experiance</h5>
                                        
                                        <div class="rating">
                                            <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                                            <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                                            <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                                            <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                                            <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>                                 
                                        </div>

                                        <button type="submit" id="subBtn" class="btn btn-outline-dark" onclick="sendrev()">Submit review </button>
                                        <h5 class="fw-bold " id="thx" style="display: none;">Thank you for your feedback</h5>
                                        
                                </div>
                            </div>
                        </div>
                </section>
                <section class="col-xl align-self-center w-100 my-3">
                    <div class="container h-100 w-100">
                        <div class="row  ">
                            <div class="card bg-light text-dark" style="border-radius: 1rem;">
                                <div class="card-body text-center d-flex align-content-center justify-content-center flex-column">
                                    
                                    <h5 class="fw-bold ">Write a reveiw of your experiance</h5>
                                    
                                    <textarea class="row w-100 align-self-center" style="height: 250px;" id="reviewText" placeholder="Write a review"></textarea>
                                    <button type="submit" id="subBtnText" class="btn btn-outline-dark my-2 w-50 align-self-center" onclick="sendrevText()">Submit review </button>
                                    <h5 class="fw-bold " id="thxText" style="display: none;">Thank you for your feedback</h5>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
        </div>
        
        <div class="card chart-container row w-75 align-self-center my-3" id="chartArea" >
            <canvas id="chart"></canvas>
        </div>

        </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>

    </body>

</html>