<script src="../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../public/scripts/Register.js"></script>
<link href="../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css">


<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rouets App</title>
</head>

<body class="d-flex flex-row justify-content-center "style="background-image: url('../public/imgs/front.jpg'); background-size: 100%;">
    <section class="w-50 h-75" style="background-color: #eee;">
        <div class="container h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col">
              <div class="card text-black" style="border-radius: 25px;">
                <div class="card-body p-md-5">
                  <div class="row justify-content-center">
                    <div class="col-8  order-2 order-lg-1">
      
                      <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>
      
                      <form class="mx-1 mx-md-4">
      
                        <div class="d-flex flex-row align-items-center mb-4">
                          <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                          <div class="form-outline flex-fill mb-0">
                            <input type="email" id="email" class="form-control" placeholder="Email" />
                          </div>
                        </div>
      
                        <div class="d-flex flex-row align-items-center mb-4">
                          <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                          <div class="form-outline flex-fill mb-0">
                            <input type="password" onkeypress="machPasswords()" onchange="machPasswords()" id="password" class="form-control" placeholder="Password" />
                          </div>
                        </div>
      
                        <div class="d-flex flex-row align-items-center mb-4">
                          <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                          <div class="form-outline flex-fill mb-0">
                            <input type="password"  onkeypress="machPasswords()" onchange="machPasswords()" id="confirmPass" class="form-control" placeholder="Confirm Password"/>
                            <label id="confirmError"for="confirmPass" class="text-danger" style="display: none;">Passwords does not match</label>
                          </div>
                        </div>
      
                        <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                          <button type="button" class="btn btn-outline-dark btn-lg" onclick="Register()">Register</button>
                        </div>
      
                      </form>
      
                    </div>
                
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.js" type="text/javascri  pt"></script>
</body>